@font-face {
    font-family: 'Qbicle1BRKMK';
    src: url('../fonts/Qbicle1BRKMK.eot');
    src: url('../fonts/Qbicle1BRKMK.eot') format('embedded-opentype'),
         url('../fonts/Qbicle1BRKMK.woff2') format('woff2'),
         url('../fonts/Qbicle1BRKMK.woff') format('woff'),
         url('../fonts/Qbicle1BRKMK.ttf') format('truetype'),
         url('../fonts/Qbicle1BRKMK.svg#Qbicle1BRKMK') format('svg');
}

@font-face {
font-family:Rektec;
src: url('../Fonts/Extras/Park Lane NF.ttf');
}

body{
	margin:0;
	padding: 0;
	background-color: #164C96;
	 overflow-x: hidden;

}

#cabecera #buscador{
	float:right;
	margin-right: 0.5%;
	margin-top: 1%;
	}

#cabecera{
	background-color: #E44B3B;
	position: fixed;
	width: 100%;
	left: 0; 
	top: 0; 
	height: 100px;
}

#principal {
	margin:2% auto 0% 10%;
}
#principal h2{
	text-align: center;
	color: #0D36AA;
	margin-left: -20%; 
	padding: auto;
}

#principal img {

	border-radius: 8px;
	border: 2px solid #164C96;
	width:350px;
	height:350px;
}



#contenedor{
	width:100%;
	width:expression(document.body.clientWidth> 901? "900px":"auto");
	margin:0 auto;
	background-color: #EDD7C2;
	padding-top: 4%;
}

#cabecera #logo{
	color: black;
	display: block;
	float:left;
	margin:0 1% 0 0;
	width:100px;
	height: 100px;
	background-image: url("../images/logoBack2.jpg");
	color: #EDD7C2;
	text-align: center;
	border-radius: 100px;
	padding:0;

}

#logo p{
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	color:black;
	font-size: 30px;
	color: white;
	margin-top: 32%;
	text-align: center;
	font-family: Qbicle1BRKMK;
}


#cabecera #logo img{
	width: 100px;
	height: 100px;
	margin: 0;

}

nav {
	margin-top: 2%;
	margin-left: 3%;
}

#menu ul#menu_principal li{
	display:inline;
	float:left; 
	display: inline-block;
    color: white;
    padding: 0.5% 0.1%;
    text-align: center;
    text-decoration: none;
    list-style:none;
    display: inline-block;}


	#menu a {
	background-color:#FE2E2E;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0.5% 0 0;
    cursor: pointer;
	border-radius: 8px;
	border: 2px solid;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

 #menu a:hover:not(.active){
 	background-color: #d32626;
 }
 .active {
 	background-color: #7f1616;
 }

.enlaces {
	float: left;
}

.clear{
	clear:both;
}

h1,h2,form{
	margin:0;
	padding:0;
}

input:focus {
    background-color: yellow;
}


#pie{
	background-color: #1977B5;
}

#redesSociales img{
	width:35px;
	height: 35px; 
}

td {
        font-size: 15px;
        line-height: 20px;
        padding: 0 20px;
        text-align: justify;
        vertical-align: top;
        width: 50%;
}

h2{
	font-size: 35px;
}

h1{
	font-size:45px;
}


 /* Dropdown Button */
.dropbtn {
	background-color:#FE2E2E;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
	border-radius: 8px;
	border: 2px solid;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #d32626;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
		margin:0.2% 0.2% 0.2% 0.2%;
    position: relative;
    display: none;
    float:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    background-color:#FE2E2E;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 0.5% 0 0;
    cursor: pointer;
	border-radius: 8px;
	border: 2px solid;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d32626}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 




/* Medium Devices, Desktops */
@media only screen and (max-width : 992px ) {



#cabecera #buscador{
	float:left;
	margin-left: 3%;
	margin-top: 1%;
	margin-bottom: 5%;
	}

#cabecera{
	width: 20%;
	height: 100%;
}

#cabecera #logo{
	position: relative;
	margin-top: 1%;
	margin-left: 20%;
	margin-bottom: 5%;
}
#menu ul{
	margin-left: 0;
	padding: 0;
}

#menu ul  li{
    padding: 0;
    margin:0;
}


	#menu a {
    padding: 8px 15px;
   display: inline-block;
    font-size: 14px;
   margin-top: 3%;
   margin-left:0;
   margin-right: 3%;
}
#principal {
	margin:0% 0% 0% 20%;
	padding: 0% 8% 0% 8%;
	width: 82%;

	}
	#principal img {
	width:200px;
	height:200px;
}



#pie{width: 82%;
	margin-left:18%; 
	background-color: #1977B5;
}


 }

 /* Small Devices, Tablets */
@media only screen and (max-width : 768px ) { 

#principal h2{
	display: block;
	margin-left: 0; 
	padding: 0;
	text-align: left;
	font-size: 25px;
}

#principal {
	padding: 0% 1% 0% 8%;
	width: 75%;

	}
	#principal img {
	width:150px;
	height:150px;
}

#menu a {
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
}

#cabecera #logo{
	position: relative;
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 5%;
}
#cabecera #buscador{
	text-align: center;
	display: inline-block; 
	float: right;
	 }

	 #buscador input {
	 	width: 95%;
	 	margin: 0;
	 }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px ) { 

.dropdown {
    position: relative;
    display: inline-block;
    float:right;
}

nav {
	display: none;
}

#cabecera{
	width: 100%;
	left: 0; 
	top: 0; 
	height: 40px;
}

#cabecera #buscador{ display: none;
}

#cabecera #logo{
	color: white;
	display: block;
	float:left;
	margin:0.2% 0.2% 0.2% 0.2%;
	width:100px;
	height: 34px;
	background-image: none;
	background-color: black;
	text-align: center;
	border-radius: 8px;
	padding:0;
	border: 2px solid white;

}

#logo p{
	color:white;
	font-size: 25px;
	margin-top: 1%;
	text-align: center;
	font-family: Qbicle1BRKMK;
}

#principal {
	padding: 0;
	margin:0;
	width: 100%;

}
#principal h2{
	font-size: 18px;	
}

	#principal img {
	width:120px;
	height:120px;
}

#pie{width: 100%;
	margin-left:0; 
}

}